.board-items {
    padding: 0;
    margin: 0;
}

.board-item {
    padding: .5em;
    border-top: .5px solid grey;
    display: flex;
}

.board-item-name {
    flex: 1;
}

.arrow-right:hover, .arrow-left:hover {
    cursor: pointer;
}